body {

    background-color: #E6EFF6;
    border: 2px solid #77A6B6;
    border-radius: .5em;

}

header {
    padding: 5%;
    background: #FFFFFF;
}

header h1 {
    color: #45ADAC
}

header h2 {
    color: #D0E468
}

header p {
    color: #B3B9C4;
}

section {
    border: 2px solid #77A6B6;
    border-radius: .5em;
    color: #FFFFFF;
}

section {
    display: grid;
}


.left {
    background: #2AADAB;
    padding: 5%;
}

.right {
    background: #4ABEBD;
    padding: 5%;
}

.right ul {
    list-style: none;
    color: #B6F7FB;
}

@media screen and (min-width: 40em) {
    section {
        display: flex;
    }
    
    .left {
        flex: 1;
    }
    
    .right {
        flex: 1;
    }
    
    .right ul {
        list-style: none;
    }
    
}