* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E6EFF6;
}

header {
    padding: 5%;
    margin: 0 10% 0 10%;
    background: #FFFFFF;
}

header h1 {
    color: #45ADAC
}

header h2 {
    color: #D0E468
}

header p {
    color: #B3B9C4;
}

article {
    color: #FFFFFF;
    margin: 0 10% 0 10%;
}

article section{
    display: grid;
}

article .left {    
    background: #2AADAB;
    padding: 5%;
}

article .rigth {
    background: #4ABEBD;
    padding: 5%;
}

article .rigth ul {
    list-style: none;
    color: #B6F7FB;
}

@media screen and (min-width: 40em) 
{
    header {
        padding: 5%;
        margin: 0 10% 0 10%;
        background: #FFFFFF;
    }

    article{
        margin: 0 10% 0 10%;
    }

    article section {
        display: flex;
    }
}