body {
    background-color: #E6EFF6;
    margin: 10%;
    max-width: 1440px;
    min-width: 375px;
}

header {
    padding: 5%;
    background: #FFFFFF;
}

header h1 {
    color: hsl(179, 62%, 43%);
}

header h2 {
    color: hsl(71, 73%, 54%);
}

header p {
    color: hsl(218, 22%, 67%);
}

section {
    color: hsl(204, 43%, 93%);
}

section {
    display: grid;
}


.left {
    background: hsl(179, 62%, 43%);
    padding: 5%;
}

.right {
    background: hsl(179, 71%, 47%);
    padding: 5%;
}

.right ul {
    list-style: none;
    padding-left: 0;
    color: hsl(204, 43%, 93%);
}

@media screen and (min-width: 375px) {
    section {
        display: flex;
    }

    .left {
        flex: 1;
    }

    .right {
        flex: 1;
    }

    .right ul {
        list-style: none;
    }

}