/* *{
    margin: 0;
} */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: hsl(206, 47%, 93%);
  margin: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 60%;
  word-spacing: 1px;
}

main {
}

h2 {
  font-size: 1.1em;
}

.top {
  padding: 2% 5% 2% 5%;
  background: #ffffff;
  margin: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: -5px -5px 50px hsl(207, 52%, 79%);
}

.top h1 {
  color: hsl(179, 62%, 43%);
  font-size: 1.5em;
}

.top h2 {
  color: hsl(71, 73%, 54%);
}

.top p {
  color: hsl(218, 22%, 67%);
  line-height: 25px;
}

.bottom {
  color: hsl(204, 43%, 93%);
}

.bottom > * {
  padding: 5% 5% 2% 7%;
}

.left {
  background: hsl(179, 62%, 43%);
  box-shadow: -10px 0px 50px hsl(207, 52%, 79%);
}

.left strong {
  font-size: 2em;
  margin-right: 5px;
}

.left span {
  color: hsl(217, 24%, 81%);
}

.left .button {
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 100%;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  margin-bottom: 5%;

  box-shadow: 2px 2px 15px hsl(179, 39%, 37%);
}

.left .button:hover {
  background-color: hsl(73, 63%, 46%);
}

.left .button:focus {
  background-color: hsl(253, 100%, 62%);
}

.right {
  box-shadow: -10px 10px 50px hsl(207, 52%, 79%);
  background: hsl(179, 47%, 52%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right ul {
  list-style: none;
  padding-left: 0;
  color: hsl(203, 19%, 86%);
  line-height: 20px;
  font-size: 1em;
}

footer {
  margin: auto;
  padding-top: 2%;
  text-align: center;
  color: hsl(179, 62%, 43%);
}

footer a {
  color: hsl(73, 63%, 46%);
}

footer a:hover {
  color: hsl(117, 77%, 46%);
}

footer a:visited {
  color: hsl(352, 83%, 48%);
}

footer > * {
  margin: 0px;
}

@media screen and (min-width: 1000px) {
  body {
    width: 43%;
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
  }

  .left {
    flex: 1;
    min-width: 200px;
    border-bottom-left-radius: 10px;
  }

  .right {
    flex: 1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0px;
    box-shadow: none;

  }
}
