/* *{
    margin: 0;
} */
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  background-color: #e6eff6;
  max-width: 1440px;
  min-width: 375px;
  margin: auto;
}

header {
  padding: 5%;
  background: #ffffff;
  margin: 0;
}

header h1 {
  color: hsl(179, 62%, 43%);
}

header h2 {
  color: hsl(71, 73%, 54%);
}

header p {
  color: hsl(218, 22%, 67%);
  line-height: 25px;
}

section {
  color: hsl(204, 43%, 93%);
}

section {
  display: grid;
}

section > * {
  padding: 5%;
}

.left {
  background: hsl(179, 62%, 43%);
}

.left strong {
  font-size: 30px;
  margin-right: 5px;
}

.left span {
  color: hsl(217, 24%, 81%);
}

.left .button {
  color: hsl(204, 43%, 93%);
  font-size: 20px;
  width: 275px;
  background-color: hsl(71, 73%, 54%);
  border: none;
  border-radius: 10px;
}

.left .button:hover {
  background-color: hsl(73, 63%, 46%);
}

.left .button:focus {
  background-color: hsl(253, 100%, 62%);
}

.right {
  background: hsl(179, 71%, 47%);
}

.right ul {
  list-style: none;
  padding-left: 0;
  color: hsl(203, 19%, 86%);
  line-height: 25px;
}

footer {
  padding: 2% 0 2% 5%;
  color: hsl(204, 43%, 93%);
  background-color: hsl(253, 100%, 62%);
}

footer a {
  color: hsl(73, 63%, 46%);
}

footer a:hover {
  color: hsl(117, 77%, 46%);
}

footer a:visited {
  color: hsl(352, 83%, 48%);
}

footer > * {
  margin: 0px;
}

@media screen and (min-width: 565px) {
  section {
    display: flex;
  }

  .left {
    flex: 1;
  }

  .right {
    flex: 1;
  }
}
